<div class="container mx-auto pl-8 pr-8">
  <!--nav-->
  {{> navigation }}

  <!--gallery-->
  <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 mt-10">
    <div>
      <img class="aspect-video w-full h-full object-cover" src="{{ house.photos }}" alt="">
    </div>
    <ul class="grid grid-cols-3 gap-4">
      {{#each images as |image|}}
      <li>
        <img class="aspect-video w-full object-cover" src="{{ image.house.photos }}" alt="">
      </li>
      {{/each}}
    </ul>
  </div>

  <!--detail-->
  <div class="container mx-auto pl-8 pr-8 grid sm:grid-cols-3 gap-x-8 mt-10 items-start">
    <div class="sm:col-span-2">
      <h1 class="mt-10">{{ house.title }}</h1>

      <span>{{ house.location }}, {{ house.rooms }} Rooms</span>
      <div class="flex items-center mt-5">
        <img class="inline-block h-16 w-16 rounded-full ring-1 ring-white"
          src="https://avatars.githubusercontent.com/u/53295035?v=4" alt="avatar">
        <div class="ml-4">
          <small class="block">hosted by</small>
          <h2 class="block">Jessica Schaefer</h2>
        </div>
      </div>
      <p class="mt-5">{{ house.description }}</p>

      <h2 class="mt-10">2 Reviews</h2>
      <form action="#" method="POST">
        <label for="happy">
          <input type="radio" id="happy" name="radio" value="radiobox"
            class="appearance-none checked:bg-blue-200 p-2 mt-4 border border-blue-200 rounded">
          <i class="far fa-smile text-xl"></i>
        </label>

        <label for="sad">
          <input type="radio" id="happy" name="radio" value="radiobox"
            class="appearance-none checked:bg-blue-200 p-2 mt-4 border border-blue-200 rounded">
          <i class="far fa-frown text-xl"></i>
        </label>

        <label for="review" class="sr-only">Leave a Review:</label>
        <textarea name="review" id="review" class="p-2 mt-4 border block w-full border-blue-200 rounded h-28" required
          minlength="100">leave a review..</textarea>

        <button type="submit" class="button mt-5">Submit</button>
      </form>
    </div>

    <div class="sm:col-span-1">
      <div class="p-2 mt-4 border block w-full border-blue-200 rounded">
        <h3>{{ house.price }}$ a night</h3>
        <small class="block">0 reviews</small>
        <form action="#" method="POST">
          <label for="message" class="sr-only">Message the Host:</label>
          <textarea name="message" id="message" class="p-2 mt-4 border block w-full border-blue-200 rounded h-28"
            required minlength="100">message the host...</textarea>
          <button type="submit" class="button mt-5">Submit</button>
        </form>
      </div>

      <div class="p-2 mt-4 border block w-full border-blue-200 rounded">
        <h3>350$ a night</h3>
        <small class="block">1 reviews</small>
        <div class="sm:col-span-1 p-2 mt-4 border block w-full bg-blue-200 rounded">
          <span>350$ a night</span>
          <span class="block">Thank you</span>
          <time datetime="2008-02-14 20:00" class="text-xs text-gray-500">14 Fet 2008 20:00</time>
        </div>
      </div>
    </div>

    <!--list: review-->
    <ul class="mt-10 sm:col-span-2">
      <li class="mt-5 p-2 border w-full border-blue-200 rounded">
        <div class="flex items-center">
          <img class="h-12 w-12 rounded-full" src="https://avatars.githubusercontent.com/u/53295035?v=4" alt="avatar">
          <div class="ml-4">
            <time datetime="2008-02-14 20:00" class="text-xs text-gray-500">14 Fet 2008 20:00</time>
            <h2>Nilin</h2>
          </div>
        </div>
        <p class="mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eum officiis saepe numquam
          doloribus quia possimus nihil exercitationem. Nesciunt nobis maiores eveniet consectetur quia distinctio aut
          repellat quas suscipit corrupti!</p>
      </li>

      <li class="mt-5 p-2 border w-full border-blue-200 rounded">
        <div class="flex items-center">
          <img class="h-12 w-12 rounded-full" src="https://avatars.githubusercontent.com/u/53295035?v=4" alt="avatar">
          <div class="ml-4">
            <time datetime="2008-02-14 20:00" class="text-xs text-gray-500">14 Fet 2008 20:00</time>
            <h2>Nele</h2>
          </div>
        </div>
        <p class="mt-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum eum officiis saepe numquam
          doloribus quia possimus nihil exercitationem. Nesciunt nobis maiores eveniet consectetur quia distinctio aut
          repellat quas suscipit corrupti!</p>
      </li>
    </ul>
  </div>

  <div class="container mx-auto pl-8 pr-8">
    <!--footer-->
    {{> footer }}
  </div>